# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules
/build
/master
/server/ajax/config.php
/server/ajax/freemaths.sql
/server/public
/server/vendor
/server/composer.lock
/server/storage/*.gz
/server/storage/diff
/server/storage/emails
/server/storage/error.log
/cypress/integration/.history
/cypress/screenshots
/cypress/support
/cypress/videos
/cypress/plugins
cypress/.eslintrc.json
package-lock.json
public/.history
src/.history
cypress.txt
.history
.vscode
.eslintcache
*.bak
*.bak2

