/ajax/.history
/ajax/config.php
/ajax/config.sample.php
/ajax/database.sample.txt
/ajax/push.php
/node/*.pem
/node/config.json
/public/phpinfo.php
/storage/error.log
/storage/photos
/storage/emails
/storage/backups
/storage/diff
/storage/live
/storage/beta
/storage/.history
/public/static/css/*.map
/public/static/js/*.map
/vendor
/node/node_modules
/node/package*
composer.*
