@CHARSET "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: scroll;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}

.navbarSpacer {
  height: 70px
}

.dropdownMenu div {
  min-width: 0rem;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

.tooltip-inner {
  max-width: none;
}

.popover {
  max-width: 800px;
}

.form-inline .form-control {
  width: auto;
  display: inline-block;
}

.form-inline .form-group {
  display: inline-block;
}

.inline {
  display: inline-block;
}

.fright {
  float: right;
}

.text-right {
  text-align: right;
}

body.modal-open {
  padding-right: 0 !important;
  overflow-y: auto;
}

.width-auto {
  width: auto;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.amber {
  color: orange;
}

.green {
  color: limegreen;
}

.grey {
  color: lightgray;
}

.blue {
  color: #2FA4E7;
}

.black {
  color: black;
}

.white {
  color: white;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.btn.green,
.btn.amber,
.btn.red {
  min-width: 3em;
}

.highlight {
  background-color: yellow;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
}

.highlight2 {
  background-color: green;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
}

.display-none {
  display: none;
}

.border {
  border: solid 1px black;
}

.maths {
  display: inline-block;
  vertical-align: middle;
  min-width: 6em;
  line-height: 2em;
  min-height: 3.3em;
  padding: 1px 1px 1px 1px;
  cursor: text;
}

.katex {
  font-size: 1.1em;
  padding: 2px 2px 2px 2px;
  display: inline-block;
}

.expression {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  cursor: text;
}

.centre {
  vertical-align: middle;
}

.tdcenter {
  text-align: center;
  vertical-align: middle;
}

.Q {
  padding: 10px 10px 10px 10px;
  border: 1px solid;
}

.PQ {
  margin: 0 0 1px 0;
  padding: 10px 10px 10px 10px;
  border: 1px solid;
}

.box {
  display: inline-block;
  width: auto;
  margin: 0 0 1px 0;
  padding: 10px 10px 10px 10px;
  border: 1px solid;
}

.minheight {
  min-height: 3.6em;
}

.spacer {
  display: inline-block;
  height: 3em;
}

.keypad {
  width: 15em;
  padding-top: 0px;
}

.keyboard-button {
  width: 3em;
  height: 3em;
  padding: 0px 0px;
}

.keyboard-text {
  font-size: 1.2em;
}

.keyboard-algebra {
  font-family: TimesNewRoman, 'Times New Roman';
  font-style: italic;
  font-size: 1.2em;
}

.keyboard-shift {
  color: orange;
}